.l-background {
  background: url("/bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-background__box {
  background: fade-out($color: white, $amount: 0.3);
  border-radius: 5px;
  padding: $m-size;
  min-width: 300px;
  @media (max-width: $desktop-breakpoint) {
    margin-left: $m-size;
    margin-right: $m-size;
  }
}

.log-in__buttons {
  display: inline-block;
  width: 100%;
}

.register-link {
  text-align: center;
  display: block;
  @media (max-width: $desktop-breakpoint) {
    margin-top: $s-size;
  }
}

.register-link.bottom {
  margin-top: $s-size;
}

.log-in-flags {
  position: absolute;
  top: $s-size;
  right: $m-size;
}

.login-title {
  background: none;
  justify-content: center;
  font-size: $l-size;
  text-align: center;
  color: $green-color;
  padding: 0px;
  margin: 0px;
  padding-bottom: $s-size;
  span {
    color: $red-color;
  }
}

.reset-password-link {
  text-align: center;
  display: block;
}

.add-transaction-button {
  min-width: 170px;
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
  }
}
