.transaction-list {
  margin-left: $m-size;
  margin-right: $m-size;
}

.transactions-list__filters--second-row {
  text-align: justify;
  color: $green-color;
  vertical-align: middle;
  a:hover {
    cursor: pointer;
    color: $red-color;
  }
  a {
    position: relative;
    top: 12px;
  }
}
.form__calendar {
  text-align: center;
}
.transactions-list__filters {
  background-color: transparentize($color: $grey-color, $amount: 0.9);
  transition: background 0.5s ease;
  padding: $s-size;
  border-radius: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin-top: $m-size;
  padding-bottom: 0px;
  @media (max-width: $desktop-breakpoint) {
    margin-bottom: $s-size;
  }
}

.form__calendar.from {
  @media (max-width: 575px) {
    margin-bottom: $s-size;
  }
}

.transactions-list__filters--first-row-input {
  @media (max-width: 575px) {
    margin-bottom: $s-size;
  }
}
